tracking/test/Results
tracking/test/logFiles
tracking/Results
tracking/macros/*.png
tracking/macros/*.pdf


#########################################################
# Ignore all files & folders copied from ILDConfig
#########################################################

tracking/test/BgOverlay/
tracking/test/Calibration/
tracking/test/CaloDigi/
tracking/test/Config/
tracking/test/Documentation/
tracking/test/Examples/
tracking/test/Gear/
tracking/test/HighLevelReco/
tracking/test/ILDReconstruction.py
tracking/test/IsolatedLeptonTagging/
tracking/test/LCFIPlusConfig/
tracking/test/MarlinStdReco.xml
tracking/test/MarlinStdRecoBeamCalPreMap.xml
tracking/test/MarlinStdRecoLCTuple.xml
tracking/test/MarlinStdRecoMiniDST.xml
tracking/test/MarlinStdRecoViewer.xml
tracking/test/MarlinStdRecoViewerDST.xml
tracking/test/PandoraSettings/
tracking/test/ParticleFlow/
tracking/test/README
tracking/test/README.md
tracking/test/README_mini-DST.md
tracking/test/RootMacros/
tracking/test/ToRemove/
tracking/test/Tracking/
tracking/test/__pycache__/
tracking/test/cdb.log
tracking/test/collections_rec_level.txt
tracking/test/ddsim_steer.py
tracking/test/empty.xml
tracking/test/py_utils.py
tracking/test/run_standard_workflow.sh
